:root {
  --background: #fff;
  --primary: #ecece3;
  --secondary: #79bfee;
  --pino: #d6d29d;
  --vege: #53642f;
  --dough: #fff;
  --sixth: #89b2d8;
  --seventh: #956b2c;
  --test: #e4d4ae;
  --test2: #EAB22F;
}

#rain-animation img:not(.empanada-img) {
  animation-name: stretch;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-delay: 3;
  animation-fill-mode: forwards;
}

@keyframes bubble {
  0% {
    transform: scale(0.5);
    bottom: 0
  }

  50% {
    transform: scale(1.2);
    bottom: 100px
  }

  100% {
    transform: scale(0.5);
    bottom: 200px
  }
}

@keyframes stretch {
  0% {
    transform: scale(0.1);
    opacity: 0.1;
    border-radius: 20%;
  }

  40% {
    opacity: .3;
  }

  100% {
    transform: scale(3);
    border-radius: 100%;
    opacity: 1;
  }
}

@keyframes rotate {
  20% { transform: rotate(90deg);}
  100% {transform: rotate(90deg);}
}

@keyframes rotating-dough {
  from { transform: translate3d(35px, 20px, 200px) rotate(10deg);}
  to {transform: perspective(400px) translate3d(50px, 20px, 100px) rotate(180deg);}
}

#dough {
  background: var(--dough);
  padding: 4%;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: rotating-dough 5s infinite alternate;
}

@keyframes pebre {
  from { transform: perspective(300px) translate3d(45px, 20px, 3em);}
  to { transform: perspective(200px) translate3d(50px, 30px, 2em);}
}

#pebre {
  background-image: url("../images/pebre.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  animation-name: pebre;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes empanadas {
  from { transform: translate3d(35px, 20px, 3em) rotate(-15deg);}
  to {transform: perspective(300px) translate3d(50px, 20px, 100px) rotate(-5deg);}
}

#empanadas {
  background-image: url("../images/empanada.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  animation-fill-mode: forwards;
  animation: empanadas 7s infinite alternate;
}



// #rain-room {
//     background: var(--eigth);
//     margin: -15%;
//     animation: transform 30s ease-in-out infinite both alternate movement 40s ease-in-out infinite both;
//     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
//     height: 130px;
//     transition: all 10s ease-in-out;
//     width: 130px;
//     z-index: 0;
//     transform-origin: 50% 50%;
//     transform-style: preserve-3d;
//     perspective: 1000px;
//     transform: translate3d(0, 0, 0);
//     animation: rise  infinite;
//     animation-duration: 50s;
// }